@font-face {
    font-family: "Noto Sans";
    src: url(assets/fonts/NotoSans-Regular.ttf);
}

:root{
    --main-color: #5403BD;
    --secondary-color: #ee5279;
}

*{
    font-family: "Noto Sans";
    font-size: 4vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

.swiper {
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: -webkit-fill-available;
}

section{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/******************
*Background colors*
******************/

.dark-bg{
    background-color: #333;
}

.main-bg{
    background-color: var(--main-color);
}

.secondary-bg{
    background-color: var(--secondary-color);
}

/*****************
*Reveal animation*
*****************/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/*******************
*Dom specific stuff*
*******************/
.presentation-container{
    align-self: flex-start;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ddd;
}

.background-pic{
    align-self: flex-end;
    position: absolute;
    max-height: 50%;
    max-width: 100%;
    object-fit: contain;
}
